<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vmall.dao.UserDao">
<!-- 用户登录功能，返回User类对象 -->
<select id="login" parameterType="String" resultType="vmall.po.User">
	select * from user where uname = #{username}
</select>

<select id="checkUsername" parameterType="String" resultType="vmall.po.User">
	select * from user where uname = #{username}
</select>
<insert id="regist" parameterType="vmall.po.User">
	insert into user(uname,upwd,uphone,email)
	values(#{uname},#{upwd},#{uphone},#{email})
</insert>
</mapper>